<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/crsx/src/net/sf/crsx/run/Crsx.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.crsx.run.Crsx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;grammar=('net.sf.crsx.text.Text';)&quot; verbose=3&#10;input=../refil/compiler/EmitDataPower/X2B_N.dr&#10;rules=compiler/c/rules.crs HEADERS=X2B.h&#10;sink=net.sf.crsx.text.TextSink&#10;output=../refil/compiler/EmitDataPower/X2B_N_fun.c&#10;max-indent=20"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crsx"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea -Xmx1024M"/>
</launchConfiguration>